<!DOCTYPE html>
<html>
  <head>
    <title>Dalviroo App</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
  	<link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <!-- <div class="main"> 
   <h2>Select one option</h2>
  <a href="http://localhost:3000/find"  class="btn btn-primary active" role="button">Find</a>
  <a onclick="submitFunction()" class="btn btn-primary active" role="button">Add Product</a> -->
<!--   <p> Welcome to patel Tyres </p>
 -->
       <h1> Welcome to dalviroo </h1><br>

  <div  class="button-container">
  <a href ="/order">
  <button type="button" class="btn btn-primary active">Place Order</button> 
  </a><br><br>
  <a href = "/prediction">
  <button type="button" class="btn btn-primary active">Set Prediction</button> 
  </a><br><br>
  <a href="/display">
  <button type="button" class="btn btn-primary active">Kitchen Display</button> 
  </a> <br><br>
   <a href ="/display/downloadReport">
  <button type="button" class="btn btn-primary active">Download Report</button> 
  </a> <br><br>
</div>

  </div>




<!-- Scripts -->
      <script>
     function findFunction(){
    window.location('http://localhost:3000/find');
}; 


</script>



  </body>
</html>

